@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Nkusi Robert
    </p>

    <p>
       pour l'entretien chez semlex
    </p>

    <p>
        WCF pour les methodes , ado pour enregistrer le resultat après traitements, asp mvc 4 comme clients
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>